@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400 600;
  src: url('./EBGaramond.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  src: url('./EBGaramond-Italic.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400 700;
  src: url('./Cinzel.woff2') format('woff2');
  font-display: swap;
}
